
  
  .login-form {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 32px;
  }
  
  #controls {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 32px;
  }

  .box-color {
    display: flex;
    justify-content: space-between;
    
  }